@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: #eee;
    color: #666;
}

.title {
    padding-left: 20px;
    padding-top: 20px;
}

.text {
    font-size: 25px;
    color: #333;
    padding-left: 4px;
}

.text:hover {
    text-decoration: none;
    color: #333
}

.text i {
    font-size: 30px;
    color: #7159c1;
}

.login-container {
    width: 100vh;
    height: 80vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 370px;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 600;
}

.form-control:focus {
    border-color: #7159c1;
    box-shadow: 0 0 0 0.2rem rgba(114, 61, 190, .25);
}

.login-form a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.login-form a:hover {
    color: #7159c1;
}

.btn-custom {
    background-color: #7159c1;
    border-color: #7159c1;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 45px;
}

.btn-custom:hover {
    color: #fff;
    background-color: #574592;
}

